<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Create some Boards</h1>
      <p class="lead text-muted">Take all your problems and take them apart</p>
      <p>
      <!-- TODO: add Create Board functionality here -->
        <a href="#" class="btn btn-primary my-2">Create a board</a>
        <li class="btn btn-secondary my-2 dropdown" ngbDropdown>
          <a class="dropdown-toggle" id="dashDrop01" ngbDropdownToggle>Boards</a>
          <div class="dropdown-menu" aria-labelledby="dashDrop01" ngbDropdownMenu>
            <a class="dropdown-item" href="#">Board1</a>
            <a class="dropdown-item" href="#">Board2</a>
            <a class="dropdown-item" href="#">Board3</a>
          </div>
        </li>

      </p>
    </div>
  </section>
</main>
